<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- Location of the Spring bean definition files, for initialization of
			 root spring application context -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/com/apress/prospring2/ajax/**/*-context.xml
			<!--/WEB-INF/dwr.xml-->
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>ajaxdemo</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ajaxdemo</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<!-- DWR servlet setup -->
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

</web-app>
